<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'HomeView' %}">Home New Version</a>
            {% if user.is_authenticated %}
            <a href="{% url 'movie-list' %}">Add Movie</a>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
            {% else %}
            <a href="{% url 'movie-list' %}">Login</a>
            {% endif %}
        </nav>
    </header>

        {% for data in data_dict %}
        <article class="notice">
            <h4>{{data.title}}</h4>
                <figure>
                    <img alt="{{ data.title}}" src="{{ data.poster.url }}" />
                    <figcaption>{{data.title}}</figcaption>
                </figure>
                <p class="text-muted">{{data.year}} | {{data.director}}</p>
                <p>{{data.plot}}</p>
        </article>
        <p>
            <a class="button" href="{% url 'movie-list' %}">Add Movie</a>
        </p>
        {% empty %}
        <p><kbd>No Movie found</kbd></p>
        {% endfor %}

</body>
</html>
